    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #000;
        font-family: 'Inria Serif', serif;
    }

    html {
    scroll-behavior: smooth;
    }

    /* Horní panel */
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 90px;
        background-color: #000; 
        color: #fff;
        display: flex;
        justify-content: center; /* logo uprostřed */
        align-items: center;
        padding: 15px 40px;
        border: 1px solid #fff;
        z-index: 1000;
    }


    /* Logo */
    .logo img {
        margin-top: 5px;
        height: 70px;
    }

    /* Ikona menu vpravo */
    .menu-icon {
        position: absolute;
        right: 30px;
        font-size: 30px;
        cursor: pointer;
        user-select: none;
    }

    /* Navigace (skrytá, dokud se neklikne) */
    nav {
        position: absolute;
        top: 85%;
        right: 0;
        background-color: #000;
        border: 1px solid #fff;
        display: none;
    }

    nav.active,
    nav.active ul {
        display: block;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    nav ul li:first-child a {
        color: gray;
    }



    nav a {
        display: block;
        padding: 8px 15px;
        padding-right: 30px;
        color: #fff;
        text-decoration: none;
    }

    nav a:hover {
        background-color: #222;
    }

    nav a.highlight:hover {
        background-color: #222;
        color:gray;
    }


    .hero {
        position: relative;
        height: 800px;
        background-image: 
            linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url('../img/pozadi.jpg');
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;      /* děti stohujeme vertikálně */
        justify-content: center;     /* vertikálně doprostřed */
        align-items: center;         /* horizontálně doprostřed */
    }

    .hero-buttons {
        margin-top: 70px;       
        display: flex;           /* tlačítka vedle sebe */
        justify-content: center; /* zarovnání celé skupiny na střed */
        gap: 90px;               /* mezera mezi tlačítky */
    }

    .hero-title {
        color: #fff;
        font-size: 5rem;
        text-align: center;
        z-index: 1;
    }

    .btn {
        width: 200px;           /* pevná šířka tlačítka */
        height: 60px;           /* pevná výška tlačítka */
        background-color: transparent;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        border: 1px solid #fff;
        display: flex;           /* pro vertikální a horizontální zarovnání textu */
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s, color 0.3s;
    }

    .btn:hover {
        background-color: #fff;
        color: #000;
    }

    .about-us {
        padding-top: 100px;
        text-align: center;
        color: #fff;
        background-color: #000; /* stejné jako pozadí stránky */
    }

    .about-us h2 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .about-us p {
        font-size: 1.2rem;
        max-width: 85%;
        margin: 0 auto; /* centrování textu */
        line-height: 1.6;
    }

    .menu-section {
        padding: 100px 20px;
        text-align: center;
        color: #fff;
        background-color: #000;
    }

    .menu-section h2 {
        font-size: 3rem;
        margin-bottom: 40px; /* větší mezera od podnadpisů */
    }

    .menu-section .menu-category {
        margin-top: 40px;
        text-align: left;       /* podnadpisy a text zarovnáno doleva */
        max-width: 700px;
        margin-left: 100px;
        margin-right: auto;     /* centrování celého bloku v rámci sekce */
    }

    .menu-section .menu-category ul {
        list-style-type: disc;      /* klasické odrážky */
        padding-left: 20px;         /* odsazení od levého okraje */
        margin-top: 10px;
        font-size: 1.2rem;
        color: #ffffff;               /* jemná barva textu */
        line-height: 1.6;
    }

    .menu-section .menu-category h3 {
        font-size: 2rem;
        margin-bottom: 15px;
        color: #fff;
    }


    .menu-section .menu-category p {
        font-size: 1.1rem;
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.6;
        color: #ccc; 
    }


